@media all and (min-width: 480px) {
    .EditProfile {
      padding: 60px 0px;
      margin: 0 auto;
      max-width: 400px;
      
    }
  
    .EditProfile form {
      margin: 0 auto;
      padding: 20px;
      max-width: 320px;
      
    }
  }
  
  .EditProfile form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
  }