@media all and (min-width: 480px) {
    .Profile {
      padding: 60px 0px;
      margin: 0 auto;
      max-width: 400px;
      
    }
  
  }
  
  .Profile form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
  }

  .Profile-glyph{
    margin-left: 10px;

  }